In [1]:
import sqlite3

conn = sqlite3.connect('Bank Server.db')
c=conn.cursor()

def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS info(userid TEXT, pass TEXT, balance REAL)')
    
def data_entry():
    c.execute("INSERT INTO info VALUES('Arjun2','8979',1002)")
    conn.commit()
    c.close()
    conn.close()
    
#create_table()
data_entry()